body{
background-color: 	#FFFAFA
}

#loading{
    margin: 2rem;
    width: 2rem;
    height: 2rem;
    border: dotted 5px black;
    border-radius: 100%;
    animation: spin 1s infinite linear;
    display: none;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg)
    }
}

#header, #search{
    display: flex;
    justify-content: center;
}
#search{
    gap: 1rem;
}

#btn{
    background-color:#C0C0C0;
    border-radius: 20px
}

#btn:hover{
    background-color:		#808080;
}

.button{
    display: flex;
    justify-content: center;
    margin:20px
}

#container{
    display: flex;
    justify-content: center;
}